on:
  push:
    branches:
      - main

name: release

jobs:
  pypi-publish:
    name: upload release to PyPI
    runs-on: ubuntu-latest
    # Specifying a GitHub environment is optional, but strongly encouraged
    environment: release
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
      # retrieve your distributions here
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Install dependencies
        run: |
          sudo apt-get install -y age
          python -m pip install --upgrade pip
          pip install setuptools wheel twine build
      - name: Install Podman and podman-compose
        run: |
          sudo apt-get update
          sudo apt-get install -y podman podman-compose
      - name: Run tests with backends
        run: |
          pip install -r tests/requirements.txt
          python run_tests_with_backends.py
      - name: Build and publish
        run: |
          python -m build
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
